#include "resource.h"

IDI_MYICON ICON DISCARDABLE "icon.ico"

1 VERSIONINFO
FILEVERSION 0,4,0,1
PRODUCTVERSION 0,4,0,1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "ProductName", "cdaudio-winmm player"
            VALUE "OriginalFileName", "cdaudioplr.exe"
            VALUE "FileDescription", "cdaudio-winmm player"
            VALUE "LegalCopyright", "Copyright (c) 2020 DD"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation",  0x0409, 0x04B0
    }
}
